body{
    background: #131519;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    border: none;
    color: black;
    background-color: yellow;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 7px;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 20px auto;
}
#start-button 
{
background-color: #131519;
border: none;
cursor: pointer;
}

#start-button img{
    width: 50px;
    height: auto;
}
.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: #4b4c50;
}
.grid div{
    width: 20px;
    height: 20px;
    border: 1px solid #131519;
    box-sizing: border-box;
    color: whitesmoke;
    font-size: 8px;
}
.button-container{
    width: 200px;
    margin: 10px auto;
    background: #131519;
    display: flex;
    justify-content: space-evenly;
}
.btn
{
    background-color: #131519;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}
.btn img{
width: 40px;
height: auto;
}
.btn-pri{
    display: inline-block;
    margin: .8rem;
    /* padding: .8rem .8rem; */
    /* background:rgb(39, 244, 35); */
    color: #fff;
    cursor: pointer;
    font-size: .8rem;
    text-decoration: none;
    /* border-radius: 100px; */
}
.btn-pri:hover{
    background: #111;
    letter-spacing: .2rem;

}